.content-tarification {
    width: 300px;
    float: left;
    margin-right: -300px;
}

p {
    &:not([class]) {
        color: #232323;
        font-family: $HelveticaNeueCyr;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 25px;
    }
}

.content {
    width: 100%;
    float: left;

    &_main {
        padding-bottom: 40px;
    }

    &_left {
        padding-right: 320px;
    }
    
    ul, ol {
        &:not([class]) {
            margin-bottom: 25px;
            
            li {
                color: #000;
            }
        }
    }

    img {
        max-width: 100%;
    }

    &__title {
        color: #1487d9;
        font-family: $HelveticaNeueCyr;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        margin-bottom: 35px;
    }
}

.sidebar + .content {
    padding-left: $sidebar-width + $sidebar-margin;
}

@media only screen and (max-width: 768px) {
    .sidebar + .content {
        padding-left: 0;
    }

    .content {
        float: none;

        &_left {
            padding-right: 0;
        }
    }

    .content-tarification {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}