.news-main {
    clear: both;
    margin-bottom: 20px;
    background-color: #fff;
    
    &__more {
        clear: both;

        &__link {
            color: #018aff;
            font-family: $HelveticaNeueCyr;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8rem;
            text-decoration: underline;
        }
    }

    &__item {
        clear: both;

        &__wrapper {
            clear: both;
        }

        &__image {
            width: 120px;
            height: 120px;
            float: left;
            font-size: 0;
            position: relative;
            z-index: 10;
            border: 10px solid #e0f0fb;
            margin-right: -120px;

            &__src {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__content {
            width: 100%;
            float: left;
        }

        &__image + &__content {
            padding-left: 160px;
        }

        &__date {
            color: #242424;
            display: block;
            font-family: $HelveticaNeueCyr;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 10px;
        }

        &__title {
            color: #000;
            font-family: $HelveticaNeueCyr;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.2rem;
            margin-bottom: 15px;
            display: block;
            text-decoration: none;
        }

        &__description {
            color: #232323;
            font-family: $HelveticaNeueCyr;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.29;
        }
    }
}

@media screen and (max-width: 768px) {
    .news-main {
        &__item {
            clear: both;

            &:last-child {
                border-bottom: 0;
            }

            &__image {
                float: none;
                margin-bottom: 20px;
            }

            &__content {
                clear: both;
                padding-top: 0;
                padding-bottom: 0;
            }

            &__image + &__content {
                padding-left: 0;
            }
        }
    }
}