<div class="content">

    @@include('../components/_news-item.html', {
        "date": "30 июля 2016",
        "image": "news-image.jpg",
        "description": "Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года."
    })
    
    @@include('../components/_news-item.html', {
        "date": "30 июля 2016",
        "image": "news-image.jpg",
        "description": "Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года."
    })
    
    @@include('../components/_news-item.html', {
        "date": "30 июля 2016",
        "image": "news-image.jpg",
        "description": "Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года."
    })
    
    @@include('../components/_news-item.html', {
        "date": "30 июля 2016",
        "image": "news-image.jpg",
        "description": "Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года."
    })
    
    @@include('../components/_news-item.html', {
        "date": "30 июля 2016",
        "image": "news-image.jpg",
        "description": "Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года. Госдума планирует урегулировать деятельность агрегаторов такси до конца года."
    })

    @@include('../components/_pagination.html')
</div>