<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="" class="layout-header__logo logo"></a>
		
		<div class="layout-header__contacts">
			<div class="layout-header__contacts__title">Диспетчерская<br>служба такси</div>
			<div class="layout-header__phones phone">
				<div class="phone__item">8(861) 991-20-00</div>
				<div class="phone__item">8(861) 992-11-25</div>
				<a href="" class="phone__vacanse">Вакансии</a>
			</div>
		</div>

	</div>
</header>

<div class="navigation__similar">
	<div class="navigation__wrapper">
		<div class="navigation__lang navigation__lang_similar"><a href="" class="navigation__lang__link">En</a></div>
	</div>
</div>

<nav class="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    <li class="navigation__item"><a href="/markup/index.html" class="navigation__link@@if (current == 'index') { current}">Главная</a></li>
		    <li class="navigation__item"><a href="/markup/tarif.html" class="navigation__link@@if (current == 'tarif') { current}">Тарифы</a></li>
		    <li class="navigation__item"><a href="/markup/clients.html" class="navigation__link@@if (current == 'clients') { current}">Клиентам</a></li>
		    <li class="navigation__item"><a href="/markup/drivers.html" class="navigation__link@@if (current == 'drivers') { current}">Водителям</a></li>
		    <li class="navigation__item"><a href="/markup/news.html" class="navigation__link@@if (current == 'news') { current}">Новости</a></li>
		    <li class="navigation__item"><a href="/markup/contacts.html" class="navigation__link@@if (current == 'contacts') { current}">Контакты</a></li>
		</ul>
	</div>                            
</nav>