.icons {
    clear: both;
    font-size: 0;
    text-align: center;
    margin-bottom: 50px;

    &__item {
        width: 25%;
        display: inline-block;
        vertical-align: top;

        &__image {
            width: 104px;
            height: 104px;
            text-align: center;
            line-height: 104px;
            margin-bottom: 25px;
            border-radius: 50%;
            display: inline-block;
            border: 3px solid #1487d9;

            &__src {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__title {
            clear: both;
            color: #232323;
            font-family: $HelveticaNeueCyr;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.2rem;
        }
    }
}