.logo {
    width: 219px;
	height: 116px;
	display: block;
	background: url(/images/logo.png) 0 50% no-repeat;
	background-size: 219px 116px;
}

@media screen and (max-width: 568px) {
    .logo {
        // width: 80px;
        // height: 66px;
        // background-image: url(/images/logo-mobile.png);
        // background-size: 80px 66px;
    }
}