@@include('./components/_meta.html', {
	"title": "Main"
})


<div class="layout-wrapper">
	@@include('./components/_header.html', {
		"current": "clients"
	})

	<div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
		
        <h1 class="content__title">Дополнительные услуги</h1>

        <div class="content">

            <ul class="icons clearfix">
                <li class="icons__item">
                    <div class="icons__item__image">
                        <img src="/images/kids.png" alt="" class="icons__item__image__src">
                    </div>
                    <div class="icons__item__title">Автомобиль с детским<br>удерживающим<br>устройством</div>
                </li>
                <li class="icons__item">
                    <div class="icons__item__image">
                        <img src="/images/minivan.png" alt="" class="icons__item__image__src">
                    </div>
                    <div class="icons__item__title">Минивен</div>
                </li>
                <li class="icons__item">
                    <div class="icons__item__image">
                        <img src="/images/sofa.png" alt="" class="icons__item__image__src">
                    </div>
                    <div class="icons__item__title">Автомобиль комфорт<br>класса</div>
                </li>
                <li class="icons__item">
                    <div class="icons__item__image">
                        <img src="/images/girl.png" alt="" class="icons__item__image__src">
                    </div>
                    <div class="icons__item__title">Женское такси</div>
                </li>
            </ul>

            <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.</p> 
            <p>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
            <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.<br>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
            <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.<br>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
            <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.</p>
            <p>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
            <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.</p>
            <p>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
        </div>
		
	</div>
</div>

@@include('./components/_footer.html')

@@include('./components/_scripts.html')