@@include('./components/_meta.html', {
    "title": "Main"
})


<div class="layout-wrapper">
    @@include('./components/_header.html', {
        "current": "drivers"
    })

    <div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
        
        <div class="layout-wrapper__center clearfix">
            <h1 class="content__title">Водителям</h1>

            <div class="content content_left">

                <ul class="drivers">
                    <li class="drivers__item clearfix">
                        <div class="drivers__item__icon">
                            <div class="drivers__item__icon__circle">
                                <img src="/images/wallet.png" class="drivers__item__icon__src" alt="">
                            </div>
                        </div>
                        <div class="drivers__item__content">
                            <div class="drivers__item__content__title"><strong>70 000 рублей в месяц</strong><br>Самые активные водители «Такси Кавказ» имеют заработок<br>от 70 000 руб. в месяц.</div>
                        </div>
                    </li>

                    <li class="drivers__item clearfix">
                        <div class="drivers__item__icon">
                            <div class="drivers__item__icon__circle">
                                <img src="/images/calendar.png" class="drivers__item__icon__src" alt="">
                            </div>
                        </div>
                        <div class="drivers__item__content">
                            <div class="drivers__item__content__title"><strong>Свободный график</strong><br>Работайте когда хотите и сколько хотите. Вы сами создаёте свою «смену» и сами регулируете свою прибыль. Вам никогда не будут навязывать заказы, с вас никогда не потребуют взносов, вступительных сборов или штрафов.</div>
                        </div>
                    </li>

                    <li class="drivers__item clearfix">
                        <div class="drivers__item__icon">
                            <div class="drivers__item__icon__circle">
                                <img src="/images/press-button.png" class="drivers__item__icon__src" alt="">
                            </div>
                        </div>
                        <div class="drivers__item__content">
                            <div class="drivers__item__content__title"><strong>Тревожная кнопка</strong><br>Если во время поездки что-то случилось и вам угрожает опасность, нажмите «тревожную кнопку»: мы обязательно придём вам на помощь.</div>
                        </div>
                    </li>

                    <li class="drivers__item clearfix">
                        <div class="drivers__item__icon">
                            <div class="drivers__item__icon__circle">
                                <img src="/images/smartphone-online-track.png" class="drivers__item__icon__src" alt="">
                            </div>
                        </div>
                        <div class="drivers__item__content">
                            <div class="drivers__item__content__title"><strong>Оплата за пробки</strong><br>Пассажиры не платят за остановки на светофорах.<br>Но если вы стоите дольше 40 секунд, то таксометр начинает считать не километры, а минуты простоя. Поэтому если вы стоите в пробке, вы всё равно зарабатываете.</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-tarification">
                <div class="tarification__info">
                    <div class="tarification__info__content _top">
                        <div class="tarification__info__support">
                            <img src="/images/technical-support.png" alt="">
                        </div>
                        
                        <div class="tarification__info__title">По вопросам трудоустройства:</div>
                        <div class="tarification__info__phones">
                            <div class="tarification__info__phones__item">8(861) 992-11-25</div>
                        </div>

                        <div class="tarification__info__label">или напишите нам:</div>
                        <div class="tarification__info__email">
                            <a href="mailto:info@kavkaz-taxi.ru" class="tarification__info__email__link">info@kavkaz-taxi.ru</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                
                <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.</p>
                <p>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>

            </div>

        </div>
        
    </div>
</div>

@@include('./components/_footer.html')

@@include('./components/_scripts.html')