@@include('./components/_meta.html', {
	"title": "Main"
})

<div class="layout-wrapper">
	@@include('./components/_header.html', {
		"current": "index",
        "addclass": "_is-main"
	})

	<div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__center clearfix">
			<h1 class="content__title">Наши преимущества</h1>
			
			<div class="content content_main">
		        <ul class="icons clearfix">
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-1.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Вежливые водители</div>
		            </li>
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-2.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Таксометр в каждой<br>машине</div>
		            </li>
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-3.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Быстрая подача</div>
		            </li>
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-4.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Лучшие цены</div>
		            </li>
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-5.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Женское такси</div>
		            </li>
		            <li class="icons__item">
		                <div class="icons__item__image">
		                    <img src="/images/icon-6.png" alt="" class="icons__item__image__src">
		                </div>
		                <div class="icons__item__title _normal">Любимый водитель</div>
		            </li>
		        </ul>

		        <p>Мы всегда рады каждому клиенту, и приложим максимальные усилия, чтобы Вы остались с нами надолго! Наши низкие цены приятно удивят, ведь у нас экономное, недорогое такси Краснодара.</p>
				
				<p>Спешите в аэропорт, на вокзал, или просто хотите с ветерком прокатиться по вечернему  Краснодару?  Тогда вы по адресу! В Такси КАВКАЗ всегда рады предложить широкий спектр услуг</p>
				
			</div>

		</div>
	
		<div class="layout-container clearfix">
			<div class="layout-wrapper__center clearfix">
				<section class="news-main">
			        <div class="content__title">Новости</div>

			        <div class="columns clearfix">
			            <div class="columns__item columns__item_noborder">
			                <article class="news-main__item clearfix" itemscope itemtype="http://schema.org/NewsArticle">
			                    <time class="news-main__item__date" datetime="2016-03-12" itemprop="datePublished">30 июля 2016</time>
			                    <div class="news-main__item__wrapper">
			                        <figure class="news-main__item__image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				                        <a href="./news-main__item.html" itemprop="url">
				                            <img src="/images/news-image.jpg" class="news-main__item__image__src" itemprop="image" alt="">
				                        </a>
				                    </figure>
				                    
				                    <div class="news-main__item__content">
				                    	<a href="" class="news-main__item__title">Госдума планирует урегулировать<br>деятельность агрегаторов такси<br>до конца года</a>
				                        <div class="news-main__item__description" itemprop="description">
				                            Согласно рассматриваемому в нижней палате законопроекту, агрегатор будет иметь право работать, если он...
				                        </div>
				                    </div>
			                    </div>
			                </article>
			            </div>

			            <div class="columns__item columns__item_noborder">
			                <article class="news-main__item clearfix" itemscope itemtype="http://schema.org/NewsArticle">
		                        <time class="news-main__item__date" datetime="2016-03-12" itemprop="datePublished">30 июля 2016</time>
			                    <div class="news-main__item__wrapper">
				                    <figure class="news-main__item__image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				                        <a href="./news-main__item.html" itemprop="url">
				                            <img src="/images/news-image.jpg" class="news-main__item__image__src" itemprop="image" alt="">
				                        </a>
				                    </figure>
				                    
				                    <div class="news-main__item__content">
				                    	<a href="" class="news-main__item__title">Госдума планирует урегулировать<br>деятельность агрегаторов такси<br>до конца года</a>
				                        <div class="news-main__item__description" itemprop="description">
				                            Согласно рассматриваемому в нижней палате законопроекту, агрегатор будет иметь право работать, если он...
				                        </div>
				                    </div>
			                    </div>
			                </article>
			            </div>
			        </div>

				</section>
				
				<div class="news-main__more">
					<a href="" class="news-main__more__link">Все новости</a>
				</div>
			</div>
		</div>
		
		<section class="contacts">
            <div class="contacts__item contacts__item_map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9yMC2o8PQ_nti8wqtQWtUDchf9OgQsA0&width=100%&height=560&lang=ru_RU&sourceType=constructor&scroll=true"></script>
            </div>

            <div class="contacts__item contacts__item_form">
                <div class="contacts__form">
                    <div class="contacts__form__address">
                        <span class="contacts__form__address__line">Россия, г. Краснодар, ул. Таманская, 180</span>
                    </div>
                    <div class="contacts__form__phones">
                        <div class="contacts__form__phones__item">8(861) 991-20-00</div>
                        <div class="contacts__form__phones__item">8(861) 992-11-25</div>
                        <div class="contacts__form__phones__vacance">Вакансии</div>
                    </div>

                    <div class="contacts__form__title">
                        <span class="contacts__form__title__line">Заказать звонок</span>
                    </div>

                    <form action="" method="post" class="form ajax-form clearfix">
                        <div class="form__row clearfix">
                            <input name="name" class="form__input" placeholder="ФИО">
                        </div>

                        <div class="form__row clearfix">
                            <input name="phone" class="form__input js-phone-watcher" placeholder="Телефон">
                        </div>

                        <div class="form__button">
                            <button type="submit" class="button button_submit">Отправить</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>
        
	</div>
</div>

@@include('./components/_footer.html')

@@include('./components/_scripts.html')