@@include('./components/_meta.html', {
    "title": "Main"
})

<div class="layout-wrapper">
    @@include('./components/_header.html', {
        "current": "news"
    })

    <div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
        
        <div class="layout-wrapper__center clearfix">
            <h1 class="content__title">Новости</h1>

            @@include('./components/_sidebar-second.html', {
            	"current": "news"
            })
            
            @@include('./content/_news.html')
        </div>
        
    </div>
</div>

@@include('./components/_footer.html')

@@include('./components/_scripts.html')